// bower:scss
// endbower
*{
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

:focus {
    outline: none;
    border: 0;
 }
.sidebar-margin{
  margin-left:200px;
}




#grid{
  width:100%;
  height:100%;
}


body{
background:rgba(0,0,0,0);
}

.icon{
  height:64px;
  width:auto;
}


.gridster-mobile .gridster-item {
    height: 100px;
    position: static;
    float: none;
}

md-list-item.active{
  background-color:rgb(227,227,227);
}

.idleoverlay{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:999;
  background-color:rgba(0,0,0,0.8);
}
.idleoverlay.ng-enter{
  transition:0.5s linear all;
  background-color:rgba(0,0,0,0);
}
.idleoverlay.ng-enter.ng-enter-active{
    background-color:rgba(0,0,0,0.8);
}
.idleoverlay.ng-leave{
  transition:0.5s linear all;
    background-color:rgba(0,0,0,0.8);
}
.idleoverlay.ng-leave.ng-leave-active{
    background-color:rgba(0,0,0,0);
}


.menu-handle{
  color:rgb(237, 237, 237)!important;
  cursor:pointer;
  margin-top:-10px;
}
.md-sidenav-left{
  width:200px;
  min-width:200px;
}

// .widgetOn{
//   color: rgba(0, 0, 0, 0.6);
// }
.widgeticon{
  opacity:1;
}
.widgetOff{
  opacity:0.3;
}
.headerbar{
background-color:rgba(0,0,0,0.2);
}

.sliderOff .md-thumb:after, .sliderOff .md-track{
  opacity:0.3;
}
.sliderOff .md-focus-thumb, .sliderOff .md-focus-ring{
  opacity:0.3;
}
.activeIcon{
  color:black;
  background-color:rgb(198, 198, 198);
}
.white-bg{
  background-color:rgba(255, 255, 255,1)!important;
}
.transparant-white-bg{
  background-color:rgba(255,255,255,0.4)!important;
}
.transparant-dark-bg{
  background-color:rgba(0,0,0,0.25)!important;
  color:white!important;
}

.menunavitem ._md-nav-button-text{
  color:rgba(255, 255, 255, 0.6)!important;
  font-weight:300;
}
.menunavitem ._md-nav-button-text md-icon{
  color:rgba(255, 255, 255, 0.6)!important;

}
.menunavitem{
  display:inline;
}
.deleteWidget{
width: 20px;;
height: 20px;
background-color: rgb(203, 10, 10)!important;
border-radius:50%;
cursor:pointer;
z-index:10;
top:-3px;
right:-3px;
position: absolute;
}


.navbar .md-active ._md-nav-button-text{color:rgba(255, 255, 255, 0.9)!important;font-weight:400;}
.navbar .md-active ._md-nav-button-text md-icon{color:rgba(255, 255, 255, 0.9)!important;}
