<!-- <md-content class="md-whiteframe-3dp" layout="row" layout-wrap style="height:100%;padding:0;margin:0;background-color:rgba(255,255,255,1);">



  <md-list flex="100" style="padding:0;margin:0;">
    <md-list-item class="md-2-line" style="padding:0;margin:0;">
      <img ng-src="images/icons/button_on.svg" class="md-avatar" alt="icon" />
      <div class="md-list-item-text" layout="column" style="margin-botton:0px;">
        <h3>{{devicelist[widget.deviceid].name}}</h3>
        <h4 ng-if="!CONFIG.general.hidezonename">{{devicelist[widget.deviceid].zone.name}}</h4>
      </div>
    </md-list-item>
  </md-list>
  <div flex="100" layout-align="center start" style="margin:0px 20px 0px 20px;text-align:center;">


    <md-button ng-click="button(widget.deviceid)" class="md-primary md-raised">
      trigger
    </md-button>


  </div>
</md-content> -->

<md-content ng-class="localStorage.GENERAL.widgetbackground" md-ink-ripple class="md-whiteframe-1dp" ng-click="button(widget.deviceid)" layout="row" layout-wrap style="height:100%;padding:0;margin:0;overflow:hidden;">
  <md-icon class="md-primary widgeticon" md-svg-src="images/icons/{{widget.icon}}" style="width:50%;height:50%;padding:5px;"></md-icon>
  <h4 md-truncate style="font-weight:300;text-transform:uppercase;width:100%;text-align:center;">{{widget.name}}</h4>
</md-content>
