<md-content class="md-whiteframe-3dp" layout="row" layout-wrap style="height:100%;padding:0;margin:0;background-color:white;z-index:99;">

  <md-list flex="100" style="padding:0;margin:0;">
    <md-list-item class="md-2-line" style="padding:0;margin:0;">
      <img ng-click="onoff(widget.deviceid, devicelist[widget.deviceid].state.onoff)" ng-if="devicelist[widget.deviceid].state.onoff" ng-src="images/icons/{{widget.class}}_on.png" class="md-avatar" alt="icon" />
      <img ng-click="onoff(widget.deviceid, devicelist[widget.deviceid].state.onoff)" ng-if="!devicelist[widget.deviceid].state.onoff" ng-src="images/icons/{{widget.class}}_off.png" class="md-avatar" alt="icon" />
      <div class="md-list-item-text" layout="column" style="margin-botton:0px;">
        <h3>{{devicelist[widget.deviceid].name}}</h3>
        <h4 ng-if="!CONFIG.general.hidezonename">{{devicelist[widget.deviceid].zone.name}}</h4>
      </div>
    </md-list-item>
  </md-list>
  <div flex="100" layout-align="center start" style="margin:0px 20px 0px 20px;">

    <md-switch ng-click="onoff(widget.deviceid, devicelist[widget.deviceid].state.onoff)" style="max-width:80px;margin:0 auto;" ng-model="devicelist[widget.deviceid].state.onoff" aria-label="Switch 1">
      <span ng-if="devicelist[widget.deviceid].state.onoff">On</span>
      <span ng-if="!devicelist[widget.deviceid].state.onoff">Off</span>
    </md-switch>
    <div style="width:100%;text-align:right;font-size:10px;" ng-if="devicelist[widget.deviceid].state.meter_power && !localStorage.hidekwh">{{devicelist[widget.deviceid].state.meter_power}} kwh</div>
  </div>



</md-content>
