<md-dialog aria-label="Add widget" style="width:50%;">


  <md-content style="margin:10px;background-color:white;">
    <div flex="100">


      <wizard on-finish="saveWidget(getIdbyAtrr(CONFIG.pages, 'pagename', params.pagename))" hide-indicators="true">



        <wz-step style="text-align:center;" wz-title="Step 1">
          <h3 style="font-weight:300;text-transform:uppercase; ">Give your widget a name</h3>


          <md-input-container style="text-align:left;">
            <label>Widget name</label>
            <input name="widgetname" ng-model="newWidget.name">

          </md-input-container>
          <!-- <md-button class="md-raised md-primary " ng-click="newWidget.capability = null;" ui-sref="setup.pages.addwidget({
              pagename: params.pagename
            })"> Back </md-button> -->
          <div style="width:100%;text-align:center;">
            <md-button class="md-raised md-warn " ng-click="closeDialog()"> Cancel </md-button>
            <md-button ng-disabled="!newWidget.name" class="md-raised md-primary " wz-next> Next </md-button>
          </div>


        </wz-step>


        <wz-step style="text-align:center;" wz-title="Step 2">
          <h3 style="font-weight:300;text-transform:uppercase; ">Provide video url</h3>

          <p>Current only html5 video is supported. This is different per browser, just give your stream a shot and see if it works :) </p>
          <md-input-container style="text-align:left;">
            <label>Video url</label>
            <input name="url" ng-model="newWidget.url">

          </md-input-container>


          <br/>
          <div style="width:100%;text-align:center;">
            <md-button class="md-raised md-primary " wz-previous> Back </md-button>
            <md-button class="md-raised md-warn " ng-click="closeDialog()"> Cancel </md-button>
            <md-button class="md-raised md-primary " ng-disabled="!newWidget.url" wz-finish> Save </md-button>
          </div>
        </wz-step>
      </wizard>
      </center>
    </div>

  </md-content>

</md-dialog>
