<!-- <md-content class="md-whiteframe-3dp" layout="row" layout-wrap style="height:100%;padding:0;margin:0;background-color:rgba(255,255,255,1);">



  <md-list flex="100" style="padding:0;margin:0;">
    <md-list-item class="md-2-line" style="padding:0;margin:0;">
      <img ng-src="images/icons/temperature_on.png" class="md-avatar" alt="icon" />
      <div class="md-list-item-text" layout="column" style="margin-botton:0px;">
        <h3>{{devicelist[widget.deviceid].name}}</h3>
        <h4 ng-if="!CONFIG.general.hidezonename">{{devicelist[widget.deviceid].zone.name}}</h4>
      </div>
    </md-list-item>
  </md-list>
  <div flex="100" layout-align="center start" style="margin:0px 20px 0px 20px;">


    <h3 style="font-weight:200;margin:0 auto;text-align:center;">{{devicelist[widget.deviceid].state.measure_temperature}} °C</h3>


  </div>
</md-content> -->

<md-content ng-class="[localStorage.general.widgetbackground, {markedDel: markedDelete(widget.id)}]" class="md-whiteframe-1dp" layout="row" layout-wrap style="height:100%;padding:0;margin:0;overflow:hidden;">
  <!-- <div class="deleteWidget" ng-click="removeWidget($index, widget, params)" ng-show="options" style="">
    <md-icon style="font-size:14px;line-height:14px;margin-left:3px;margin-top:3px;color:white;">close</md-icon>
  </div> -->
  <md-icon class="md-primary widgeticon" md-svg-src="images/icons/{{widget.icon}}" style="width:25%;height:25%;padding:5px;"></md-icon>
  <h3 md-truncate style="font-weight:300;text-transform:uppercase;width:100%;text-align:center;margin-bottom:0;">{{devicelist[widget.deviceid].state.measure_temperature}} °C</h3>
  <h4 style="font-weight:300;text-transform:uppercase;width:100%;text-align:center;margin-top:5px;opacity:0.5;">{{widget.name}}</h4>
</md-content>
