<md-list style="background-color:white;margin-top:10px;margin-right:10px;padding:20px;">

  <md-subheader class="md-no-sticky" style="background-color:white;">General</md-subheader>

  <md-list-item>
    <p>Set a default page</p>
    <md-select class="md-secondary" ng-model="storage.defaultPage" aria-label="default page">
      <md-option ng-value="false"><em>None</em></md-option>
      <md-option ng-repeat="page in CONFIG.pages" ng-value="page.pagename">
        {{page.pagename}}
      </md-option>
    </md-select>
  </md-list-item>





  <md-subheader class="md-no-sticky" style="background-color:white;">Look and feel</md-subheader>

  <md-list-item>
    <p>Set theme</p>
    <md-select class="md-secondary" ng-model="storage.general.theme" aria-label="theme">
      <md-option ng-repeat="theme in SETUP.themes" ng-value="theme">
        {{theme}}
      </md-option>
    </md-select>
  </md-list-item>

  <md-list-item>
    <p>Set widget background</p>
    <md-select class="md-secondary" ng-model="storage.general.widgetbackground" aria-label="widget background">
      <md-option value="transparant-white-bg">
        Transparant white
      </md-option>
      <md-option value="transparant-dark-bg">
        Transparant dark
      </md-option>
      <md-option value="white-bg">
        White
      </md-option>
    </md-select>
  </md-list-item>

  <md-list-item>
    <p>Hide the setup icon on your dashboard</p>
    <md-checkbox ng-change="saveSettings()" class="md-secondary" ng-model="CONFIG.general.hideicon"></md-checkbox>
  </md-list-item>

  <md-list-item>
    <p>Hide zone name on widget cards</p>
    <md-checkbox ng-change="saveSettings()" class="md-secondary" ng-model="CONFIG.general.hidezonename"></md-checkbox>
  </md-list-item>

  <md-list-item>
    <p>Show devicestate when zone name is hidden</p>
    <md-checkbox ng-change="saveSettings()" class="md-secondary" ng-model="CONFIG.general.showdevicestate"></md-checkbox>
  </md-list-item>

  <md-list-item>
    <p>Lock the sidebar to allways open (this would disable open and close)</p>
    <md-checkbox ng-change="saveSettings()" class="md-secondary" ng-model="storage.sidebarLocked"></md-checkbox>
  </md-list-item>

  <md-list-item>
    <p>Hide kwh on capable widget cards</p>
    <md-checkbox ng-change="saveSettings()" class="md-secondary" ng-model="storage.hidekwh"></md-checkbox>
  </md-list-item>


</md-list>
