<div style="width:100%;background:none;margin-top:-10px;height:100%;" gridster="gridsterOptsSettings">

  <!-- <widget gridster-item style="overflow:hidden;" size-x="1" size-y="2">
    <img class="md-whiteframe-3dp" border="0" src="http://api.buienradar.nl/image/1.0/RadarMapNL" style="width:auto;height:100%;min-width:100%;">
  </widget> -->



  <widget ng-click="addtodelete(widget.id);" ng-mouseenter="options=true" ng-mouseleave="options=false" style="cursor:move;" gridster-item="widget" ng-repeat="widget in CONFIG.pages[getIdbyAtrr(CONFIG.pages, 'pagename', params.pagename)].widgets" ng-include
      src="'views/setup/widgets/' + widget.widgettype + '.html'" ng-controller="DevicesCtrl" widget="widget.widgettype">
    </widget>



</div>
<div class="widgetControl">
  <md-button>
</div>
