<div ng-class="{ 'sidebar-margin': localStorage.sidebarLocked }" class="headerbar" flex="100" flex-xs="100" flex-xs="100" style="height:60px;max-height:60px;padding:17px;z-index:4;position:fixed;top:0;right:0;left:0;">
  <md-icon ng-if="!localStorage.sidebarLocked" ng-click="switchSidebar()" class="menu-handle">menu</md-icon>
  <h2 style="margin-left:15px;display:inline;color:white;text-transform:uppercase;font-weight:300;">{{params.pagename}}</h2>

  <!-- <div ng-if="gridsterOpts.draggable.enabled" class="addwidget">
    <center>
      <md-button class="md-raised md-secondary" style="color:rgb(255,171,64);width:150px;height:70px;font-size:18px;font-weight:200;">add widget</md-button>
    </center>
  </div> -->

  <!-- <md-menu>
    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
      <md-icon md-menu-origin>menu</md-icon>
    </md-button>
    <md-menu-content width="2">
      <md-menu-item ng-repeat="page in CONFIG.pages">
        <md-button ng-click="ctrl.announceClick($index)"> {{page.pagename}} </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-input-container md-no-float>
          <input type="text" placeholder="Non-Floating Label">
        </md-input-container>
      </md-menu-item>
    </md-menu-content>
  </md-menu> -->

  <md-icon ng-if="!CONFIG.general.hideicon" ng-click="null" style="color:white;position:absolute;top:20px;right:10px;cursor:pointer;" ui-sref="setup">settings</md-icon>
  <md-icon onclick="location.reload();" style="color:white;position:absolute;top:20px;right:75px;cursor:pointer;">replay</md-icon>




</div>
<!-- <md-toolbar style="position:fixed;z-index:20;">

  <div class="md-toolbar-tools">
    <h2 md-truncate flex>My App's Title</h2>

    <md-icon ng-if="!CONFIG.general.hideicon" ng-click="null" style="color:white;cursor:pointer;" ui-sref="setup">settings</md-icon>
    <md-icon onclick="location.reload();" style="color:white;cursor:pointer;">replay</md-icon>
    <md-icon ng-click="switchEdit()" style="color:white;cursor:pointer;">edit</md-icon>
  </div>

</md-toolbar> -->


<md-content id="grid" style="width:100%;background:none;margin:10px;margin-top:60px;" gridster="gridsterOpts">

  <!-- <widget gridster-item style="overflow:hidden;" size-x="1" size-y="2">
    <img class="md-whiteframe-3dp" border="0" src="http://api.buienradar.nl/image/1.0/RadarMapNL" style="width:auto;height:100%;min-width:100%;">
  </widget> -->



  <widget id="griditem" gridster-item="widget" ng-repeat="widget in CONFIG.pages[getIdbyAtrr(CONFIG.pages, 'pagename', params.pagename)].widgets track by $index" ng-include src="'views/widgets/' + widget.widgettype + '.html'" ng-controller="DevicesCtrl"
      widget="widget.widgettype">
    </widget>



</md-content>
