<md-dialog aria-label="Add new page">
  <md-dialog-content class="md-dialog-content" aria-label="Add new page">
    <h2 class="md-title">What should be the name of the page?</h2>
    <md-input-container style="width:100%;">
      <label>Pagename</label>
      <input ng-model="newpagename">
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="closeNewpageDialog()" class="md-warn">
      Cancel
    </md-button>
    <md-button ng-click="saveNewpageDialog(newpagename)" class="md-primary">
      Save
    </md-button>
  </md-dialog-actions>
</md-dialog>
