<md-dialog aria-label="Add new widget">
  <md-dialog-content class="md-dialog-content" aria-label="Add new page">
    <h2 class="md-title">Add new widget</h2>
    <p>You are about to add a new widget to {{pagename}}.</p>

    <md-select style="width:100%;" ng-model="devicetoadd" placeholder="Select a device">
      <md-option ng-if="device.capabilities.onoff" ng-value="device" ng-repeat="device in devicelist">{{ device.name }} <small style="color:rgba(0,0,0,0.4)">{{device.zone.name}}</small></md-option>
    </md-select>

    <md-select style="width:100%;" ng-model="capability" placeholder="Select a capability">
      <md-option value="onoff">onoff</md-option>
    </md-select>




  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="closeNewwidgetDialog()" class="md-warn">
      Cancel
    </md-button>
    <md-button ng-click="saveNewwidgetDialog(devicetoadd.name, devicetoadd.id, capability, pagename)" class="md-primary">
      Save
    </md-button>
  </md-dialog-actions>
</md-dialog>
