<!-- <md-toolbar style="position:fixed;z-index:20;">

  <div class="md-toolbar-tools">
    <h2 md-truncate flex>My App's Title</h2>

    <md-icon ng-if="!CONFIG.general.hideicon" ng-click="null" style="color:white;cursor:pointer;" ui-sref="setup">settings</md-icon>
    <md-icon onclick="location.reload();" style="color:white;cursor:pointer;">replay</md-icon>
    <md-icon ng-click="switchEdit()" style="color:white;cursor:pointer;">edit</md-icon>
  </div>

</md-toolbar> -->

<div ng-scrollbars ng-scrollbars-config="bodyconfig" style="width:100%;">
  <md-content style="background:none;margin:0px;" gridster="gridsterOptsDirect">

    <!-- <widget gridster-item style="overflow:hidden;" size-x="1" size-y="2">
    <img class="md-whiteframe-3dp" border="0" src="http://api.buienradar.nl/image/1.0/RadarMapNL" style="width:auto;height:100%;min-width:100%;">
  </widget> -->



    <widget id="griditem" gridster-item="widget" ng-repeat="widget in CONFIG.pages[getIdbyAtrr(CONFIG.pages, 'pagename', params.pagename)].widgets track by $index" ng-include src="'views/widgets/' + widget.widgettype + '.html'" ng-controller="DevicesCtrl"
        widget="widget.widgettype">
      </widget>



  </md-content>
</div>
