<div ng-if="hideOverlay" class="idleoverlay"> </div>

<md-sidenav style="position:fixed;" class="md-sidenav-left" md-component-id="left" md-is-locked-open="localStorage.sidebarLocked" md-whiteframe="4">

  <center><img src="images/logo.png" style="padding:5px;" /></center>
  <md-list id="sidebar" flex ng-scrollbars ng-scrollbars-config="config">
    <md-list-item class="md-1-line" ng-repeat="page in CONFIG.pages" ng-click="switchSidebar()" ui-sref="main.page({pagename: '{{page.pagename}}'})">
      <div class="md-list-item-text" layout="column" md-scroll-y>
        {{page.pagename}}
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-sidenav>

<md-content id="container" ng-class="{ 'sidebar-margin': localStorage.sidebarLocked }" flex layout="row" layout-wrap style="min-height:100%;overflow:hidden;background:none;-webkit-overflow-scrolling: touch;" ui-view>

  <!-- <div layout-padding flex="100" flex-xs="100" flex-xs="100" style="position:relative;">
    <md-icon ng-if="!localStorage.sidebarLocked" ng-click="switchSidebar()" class="menu-handle">menu</md-icon>
    <h2 ng-if="!noPages" style="color:white;text-transform:uppercase;font-weight:300;"><md-icon style="color:white;">keyboard_arrow_left</md-icon> Open a page in the sidebar on the left </h2>
    <h2 ng-if="noPages" style="color:white;text-transform:uppercase;font-weight:300;">No pages found!</h2>
    <p ng-if="noPages" style="color:white;"> Press the
      <md-icon style="color:white;">settings</md-icon> on the top right to go to the setup.</p>

    <md-icon ng-if="!CONFIG.general.hideicon" ng-click="null" style="color:white;position:absolute;top:0px;right:10px;cursor:pointer;" ui-sref="setup">settings</md-icon>
    <md-icon onclick="location.reload();" style="color:white;position:absolute;top:0px;right:75px;cursor:pointer;">replay</md-icon>
  </div> -->
  <div ng-class="{ 'sidebar-margin': localStorage.sidebarLocked }" class="headerbar" flex="100" flex-xs="100" flex-xs="100" style="height:60px;max-height:60px;padding:17px;z-index:4;position:fixed;top:0;right:0;left:0;">
    <md-icon ng-if="!localStorage.sidebarLocked" ng-click="switchSidebar()" class="menu-handle">menu</md-icon>
    <h2 style="margin-left:15px;display:inline;color:white;text-transform:uppercase;font-weight:300;">HomeyDash </h2>

    <!-- <div ng-if="gridsterOpts.draggable.enabled" class="addwidget">
      <center>
        <md-button class="md-raised md-secondary" style="color:rgb(255,171,64);width:150px;height:70px;font-size:18px;font-weight:200;">add widget</md-button>
      </center>
    </div> -->

    <md-icon ng-if="!CONFIG.general.hideicon" ng-click="null" style="color:white;position:absolute;top:20px;right:10px;cursor:pointer;" ui-sref="setup">settings</md-icon>
    <md-icon onclick="location.reload();" style="color:white;position:absolute;top:20px;right:75px;cursor:pointer;">replay</md-icon>
  </div>

  <div style="margin-top:60px;padding:20px;">
    <h2 ng-if="!noPages" style="color:white;text-transform:uppercase;font-weight:300;"><md-icon style="color:white;">keyboard_arrow_left</md-icon> Open a page in the sidebar on the left </h2>
    <h2 ng-if="noPages" style="color:white;text-transform:uppercase;font-weight:300;">No pages found!</h2>
    <p ng-if="noPages" style="color:white;"> Press the
      <md-icon style="color:white;">settings</md-icon> on the top right to go to the setup.</p>
  </div>

</md-content>
