<md-toolbar class="md-medium-tall" style="background-color:rgba(62, 62, 62, 0.69);z-index:3;">
  <div class="md-toolbar-tools">

    <h2 style="margin-left:15px;display:inline;color:white;text-transform:uppercase;font-weight:300;" flex md-truncate>Settings</h2>



    <md-button class="md-warn md-raised" ng-if="deleteArray.length" ng-click="removeSelectedWidgets(params);">
      <md-icon class="md-warn">delete</md-icon>
      {{deleteArray.length}} selected widget(s)
    </md-button>
    <md-button ng-disabled="true" class="md-warn md-raised" ng-if="!deleteArray.length">
      <md-icon class="md-warn">delete</md-icon>
      0 selected widgets
    </md-button>
    <md-menu ng-if="'setup.page' | isState" md-position-mode="target-right target" style="cursor:pointer;margin-right:10px;">

      <md-button style="color:white;" ng-click="$mdMenu.open($event)">
        <md-icon style="color:white;">add</md-icon>
        add widget
      </md-button>

      <md-menu-content>
        <md-menu-item ng-repeat="type in SETUP.widgettypes">

          <md-button ng-click="openAddwidgetDialog(type.type)"><img style="width:42px;height:42px;display:inline;vertical-align:middle;" ng-src="images/widgettypes/{{type.icon}}" /><span style="margin-left:5px;line-height:42px;font-size:14px;vertical-align:middle;text-transform:uppercase;font-weight:300;">{{type.name}}</span></md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>


    <md-menu ng-if="'setup.page' | isState" md-position-mode="target-right target" style="cursor:pointer;margin-right:10px;">

      <md-button style="color:white;margin-right:10px;" ng-click="$mdMenu.open($event)">
        <md-icon style="color:white;">arrow_drop_down</md-icon>
        edit page
      </md-button>

      <md-menu-content>
        <md-menu-item>
          <md-button style="font-weight:300;text-transform:uppercase;" ng-click="openRenamepageDialog()">
            <md-icon class="">edit</md-icon>
            Rename page
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button class="md-warn" style="font-weight:300;text-transform:uppercase;" ng-click="confirmPageDelete()">
            <md-icon class="md-warn">delete</md-icon>
            Remove page
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <md-menu md-position-mode="target-right target" style="cursor:pointer;margin-right:10px;">

      <md-button class="md-primary" style="margin-right:10px;" ng-click="$mdMenu.open($event)">
        <md-icon style="">arrow_drop_down</md-icon>
        settings
      </md-button>

      <md-menu-content>
        <md-menu-item>
          <md-button style="font-weight:300;text-transform:uppercase;" ui-sref="setup.generalsettings">
            <md-icon>settings</md-icon>
            General settings
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button style="font-weight:300;text-transform:uppercase;" ng-click="null">
            <md-icon>extension</md-icon>
            plugins
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button style="font-weight:300;text-transform:uppercase;" ui-sref="main">
            <md-icon class="">dashboard</md-icon>
            back to dashboard
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>
  </div>

  <bar style="margin-top:-7px;" ui-sortable="sortableOptionsPages" ng-model="CONFIG.pages">
    <md-nav-bar class="navbar" md-no-ink-bar="true" md-selected-nav-item="currentNavItem" nav-bar-aria-label="Pages">

      <md-nav-item class="menunavitem sortable-item" ng-repeat="page in CONFIG.pages" md-nav-sref="setup.page({pagename: '{{page.pagename}}'})" name="{{page.pagename}}" aria-label="{{page.pagename}}">
        {{page.pagename}}
        <md-icon style="cursor:move;margin-left:5px;" class="menudrag">more_horiz</md-icon>
      </md-nav-item>

      <md-nav-item class="md-primary navbaradd" md-nav-click="openAddpageDialog()" aria-label="add page" name="addpage">
        <md-icon>add</md-icon>
      </md-nav-item>
    </md-nav-bar>
  </bar>
</md-toolbar>





<div flex="100" layout="row" layout-wrap style="margin-top:10px;">
  <div flex="100" style="" ui-view>
    <div style="background-color:rgba(255,255,255,1);padding:10px;margin-top:10px;margin-right:10px;margin-left:10px;">
      <h3 style="font-weight:300;width:100%;text-align:center;color:black;">Select a page on the top to edit.</h3>
    </div>
  </div>
</div>
