<div flex="30" style="padding-top:10px;">
  <md-list-item>
    <md-button style="width:100%;" class="md-raised" ui-sref="setup.pages.newpage">add new page</md-button>
  </md-list-item>
  <md-list class="md-dense" ui-sortable="sortableOptionsPages" ng-model="CONFIG.pages">



    <md-list-item ng-repeat="page in CONFIG.pages" ui-sref-active="active" style="margin-left:7px;margin-right:7px;" class="md-2-line" ui-sref="setup.pages.page({pagename: '{{page.pagename}}'})">
      <div class="md-list-item-text">
        <h3>{{page.pagename}}</h3>
        <p>{{page.widgets.length || '0'}} widgets</p>
      </div>
      <div style="cursor:move;z-index:2;" class="md-secondary orderPages">
        <md-icon>reorder</md-icon>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>


  </md-list>
</div>

<div flex="70" style="margin-top:5px;position:relative;" layout="row" layout-wrap ui-view>
  <h3 style="font-weight:300;width:100%;text-align:center;">Select a page on the left to add widgets to. <br/>Then click the plus icon in the right top corner to add a widget.</h3>
</div>
