<!-- <md-button class="md-fab" style="position:absolute;top:-20px;right:0;" aria-label="Add" ng-click="addwidget(getIdbyAtrr(CONFIG.pages, 'pagename', params.pagename))">
  <md-icon>add</md-icon>
</md-button> -->

<!-- <div flex="100">
  <h3 style="width:100%;text-align:center;padding-left:10px;padding-top:0px;margin-top:8px;padding-bottom:5px;margin-bottom:0;font-weight:300;text-transform:uppercase;">{{params.pagename}}</h3>
</div> -->

<md-toolbar style="color:black;margin-bottom:0;margin-top:0;background-color:white;">
  <div class="md-toolbar-tools">
    <h2 style="font-weight:300;text-transform:uppercase;">
          <span inline-edit-callback="savePagename(getIdbyAtrr(CONFIG.pages, 'pagename', params.pagename), newValue)" style="font-weight:300;text-transform:uppercase;" inline-edit-btn-save=" <small style='color:rgb(255,152,0);'>save</small>" inline-edit-btn-edit=" <span style='margin-left:20px;color:rgb(255,152,0);'>edit</span>" inline-edit="CONFIG.pages[getIdbyAtrr(CONFIG.pages, 'pagename', params.pagename)].pagename">{{params.pagename}} </span>

        </h2>
    <span flex></span>
    <md-button ui-sref="setup.pages.removepage({pagename: '{{params.pagename}}'})" class="md-button md-warn md-raised" aria-label="Delete">
      Delete this page
    </md-button>
  </div>
</md-toolbar>


<list flex="100" layout="row" layout-wrap layout-align="start start" ui-sortable="sortableOptionsWidgets" ng-model="CONFIG.pages[getIdbyAtrr(CONFIG.pages, 'pagename', params.pagename)].widgets">
  <div style="padding:10px;" ng-repeat="widget in CONFIG.pages[getIdbyAtrr(CONFIG.pages, 'pagename', params.pagename)].widgets" flex="25">
    <div style="cursor:move;background-color:rgb(250,250,250);padding:5px;font-weight:200;color:white;" class="md-whiteframe-3dp">
      <p style="color:black;font-weight:300;text-transform:uppercase;font-size:0.75em;">{{devicelist[widget.deviceid].name}} <br/> <span style="color:grey">{{devicelist[widget.deviceid].zone.name}}</span></p>
      <p style="color:black;">
        <small>
        {{widget.widgettype}} {{widget.class}}
      </small>
      </p>
      <div style="text-align:right;margin-top:-25px;">
        <md-button ui-sref="setup.pages.removewidget({pageid: '{{getIdbyAtrr(CONFIG.pages, 'pagename', params.pagename)}}', pagename: '{{params.pagename}}', widgetname: '{{devicelist[widget.deviceid].name}}', widgetid: '{{$index}}'})" class="md-warn md-fab md-mini">
          <md-icon>delete</md-icon>
        </md-button>
      </div>
    </div>
  </div>
  <div style="padding:10px;" flex="25">
    <md-button style="width:100%;padding:0;margin:0;height:145px;padding-top:20%;color:rgb(255,152,0);" class="" ui-sref="setup.pages.addwidget({pagename: '{{params.pagename}}'})">
      <md-icon style="height:60px;width:60px;font-size:60px;color:rgb(255,152,0);">add</md-icon><br/>add new widget</md-button>
  </div>
</list>
