<md-card>
  <md-card-content layout="row" layout-wrap style="padding:0;margin:0;">


    <md-list flex="100" style="padding:0;margin:0;">
      <md-list-item class="md-2-line" style="padding:0;margin:0;">
        <img ng-src="../images/icons/temperature.png" class="md-avatar" alt="icon" />
        <div class="md-list-item-text" layout="column" style="margin-botton:0px;">
          <h3>Thermostaat</h3>
          <h4>Woonkamer</h4>
        </div>
      </md-list-item>
    </md-list>
    <div flex="100" layout-align="center start" style="min-height:48px;height:48px;max-height:48px;margin:0px 20px 0px 20px;">


      <h3 style="font-weight:200;margin:0 auto;text-align:center;">20.8 °C</h3>


    </div>
  </md-card-content>
</md-card>
